*{
	margin:0;
	padding: 0;
	font-family: 'Merriweather Sans', sans-serif;
}
/*titulo y nav*/

.titulo-news h1{
	font-size: 35px;
}
.titulo-news span{
	color: #e84148;
}
.nav-entero{
	border-bottom: 2px solid #e84148; 
}
.navbar-default{
	background-color: transparent;
	border-color: transparent;
}
.lupa{
	background-color: #e84148;
	width: 60px;
	height: 50px;
	border-radius: 9px;
}
.lupa span{
	color: white;
}

/*segunda seccion*/
.playa-corriendo{
	width:60%;
}
.niños-abrazo{
	width:40%;
}
.mina-flor{
	width: 50%;
	padding-top: 8vh;
}
.familia-feliz{
	width: 50%;
	padding-top: 8vh;

}
.foto1, .foto2, .foto3, .foto4{
	width: 100%;
}

